#electrovim-overlay{
    background: hsla(60, 100%, 50%, 0.5);
    position: fixed;
    top:auto;
    bottom:0;
    right:0;

    font: 12px/14px sans-serif;
    color: black;
}

#electrovim-overlay input {
    background-color: transparent;
    border: 0px solid;
    margin-left: 5px;
}

.electrovim-highlight {
    background-color: yellow;
}

.electrovim-current-find {
    background-color: hsl(169, 100%, 50%);
}
